@import 'nib'

dark = #0f1a2d
light = #f1fafa  

body
  background light
  color dark

text-shadow(color)
  text-shadow 0 1px 3px color, 0 -1px 3px color, 1px 0 3px color, -1px 0 3px color

.navigation
  background-color dark 
  position fixed
  right 0
  height 100%
  ul
    list-style none
    padding-left: 1em
    li 
      margin-top 1em
      a
        color light
        font-size 1.2em
        font-weight bold
        text-align center
        text-decoration none
        &:hover
          text-shadow(rgba(255, 255, 255, 0.5))

.content
  // box-shadow 0 0 20px #869BBF inset
  // border 1px solid #869BBF  
  // border-radius 2px
  padding 1em 2em
