doctype 5
html(lang="en", class="no-js")
  head
    title="Zitao"
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="css/foundation.min.css")
    link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=PT+Sans')
    link(rel="stylesheet", href="css/app.css")
  body
    .row
      .nine.columns
        .content
          h3 Blog post title
          p Post content.
      .three.columns
        ul.navigation
          li: a(href='#') About
          li: a(href='#') Blog
          li: a(href='#') Contact
    
