doctype 5
html(lang="en")
  head
    title="Title"
    script(type="text/javascript", src="//use.typekit.net/yea5gsg.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}
  body
    h1 Something
    #container
      p Here
